* { margin: 0; padding: 0; }
body{
	background-image: url(imgs/Binary.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#Menu{
	margin: auto;
	background-image: url(imgs/Tela.gif);
	background-position: center;
	border: 2px solid #1E90FF;
	border-radius: 25px;
	height: 120px;
}



.title{
	position: relative;
	top: 30px;
	text-align: center;
	font-size: 300%;
	font-family: 'Josefin Sans', sans-serif;
	color: white;
}

#back{
	margin: auto;
	margin-top: 4%;
	background-color: white;
	width: 94%;
	border: 2px solid #1E90FF;
	border-radius: 25px;
}

.descrição{
	margin-top: 1%;
	margin-left: 1%;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
	color: black;
}

#Dev1{
	width: 70%;
	height: 30%;
	border: 2px solid  #1E90FF;
	border-radius: 25px;
	
}

